{% extends 'base.html' %}
{% load static %}

{% block header_nav %}
<nav>
    <div class="nav-single-buttons">
        <button data-url="{% url 'index' %}"
            onclick="window.location.href = this.dataset.url;"
            class="nav-single-btn primary">На главную</button>
        <button data-url="{% url 'prompts' %}"
            onclick="window.location.href = this.dataset.url;"
            class="nav-single-btn secondary">К промптам</button>
    </div>
</nav>
{% endblock header_nav %}

{% block content %}
<h1>Нейросеть</h1>
<p>Здесь вы можете задать нейросети любой вопрос и получить на него ответ.
    Текущая модель: {{ model }}</p>

<form title="neyro-message" method="post">
    {% csrf_token %}
    <h2>Задайте ваш вопрос</h2>
    <label>Введите ваш запрос</label>
    <textarea name="message" placeholder="Введите запрос">{{ question }}</textarea>
    <label>При наличии вы можете ввести системный промпт. Этот параметр не является обязательным</label>
    <textarea name="system_prompt" placeholder="Введите системный промпт">{{ system_prompt }}</textarea>
    <button type="submit">Отправить</button>
</form>

<form>
    <h2>Ответ от нейросети:</h2>
    <p>{{ ans }}</p>
</form>
{% endblock %}