<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoodAssumption</title>
    </head>

    <body>
        <header>
        </header>

        <main>
            <img src="https://httpcats.com/404.jpg">
        </main>
        
    <style>
        :root {
            background-color: black;
        }

        img {
        display: block;
        margin: auto;
        width: 50%;
        }
    </style>

    </body>
</html>