{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoodAssumption</title>

        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        {% block head %}
        {% endblock head%}
    </head>

    <body>
        <header>
            <h3>Курс "Промышленное программирование"</h3>
            {% block header_nav %}
            <nav>
                <div class="nav-single-buttons">
                    <button data-url="{% url 'index' %}"
                        class="nav-single-btn"
                        onclick="window.location.href = this.dataset.url;">На
                        главную</button>
                </div>
            </nav>
            {% endblock header_nav %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 GoodAssumption</p>
            <a href="https://t.me/ink_visit_or" target="_blank">Ссылка для
                связи</a>
        </footer>
    </body>
</html>