{% extends 'base.html' %}
{% load static %}

{% block header_nav %}
<nav>
    <div class="nav-single-buttons">
        <button data-url="{% url 'index' %}"
            class="nav-single-btn primary"
            onclick="window.location.href = this.dataset.url;">На
            главную</button>

        <button data-url="{% url 'expression' %}"
            class="nav-single-btn secondary"
            onclick="window.location.href = this.dataset.url;">Сложные
            выражения</button>

        <button data-url="{% url 'expression/history' %}"
            class="nav-single-btn warning"
            onclick="window.location.href = this.dataset.url;">К истории
            вычислений</button>
    </div>
</nav>
{% endblock header_nav %}

{% block content %}
<h1>Калькулятор</h1>
<p>Это примитивный калькулятор чисел, использующий Python</p>
<form title="Калькулятор" method="post">
    {% csrf_token %}
    <label>Введите первое число</label>
    <input type="number" step="0.0001" name="first" value="{{ n1 }}">
    <label>Введите второе число</label>
    <input type="number" step="0.0001" name="second" value="{{ n2 }}">
    <p><input type="radio" name="action" value="sum" checked>Сложить</p>
    <p><input type="radio" name="action" value="sub">Вычесть</p>
    <p><input type="radio" name="action" value="mul">Перемножить</p>
    <p><input type="radio" name="action" value="div">Поделить</p>
    <button type="submit" name="Вычислить">Вычислить</button>
    <button type="reset" name="Сбросить">Сбросить</button>
</form>
<h3 style="padding-bottom: 0; margin-bottom: 0;">{{ text }}</h3>
<h2 style="padding-top: 0; margin-top: 0;">{{ ans }}</h2>
{% endblock %}