{% extends 'base.html' %}
{% load static %}

{% block header_nav %}
<nav class="main-nav">
    <div class="nav-dropdown">
        <button class="nav-dropdown-btn">Школьное</button>
        <div class="nav-dropdown-content">
            <a href="{% url 'calc' %}">Калькулятор</a>
            <a href="{% url 'riddle' %}">Загадка :)</a>
            <a href="{% url 'time' %}">Время</a>
            <a href="{% url 'multiply' %}">Таблица умножения</a>
            <a href="{% url 'str2words' %}">Конвертер строк</a>
        </div>
    </div>

    <div class="nav-dropdown">
        <button class="nav-dropdown-btn">Обо мне</button>
        <div class="nav-dropdown-content">
            <a href="{% url 'about' %}">Больше информации обо мне</a>
            <a href="{% url 'viewed' %}">Мой список просмотренного</a>
            <a href="{% url 'characters' %}">Любимые персонажи</a>
        </div>
    </div>

    <div class="nav-dropdown">
        <button class="nav-dropdown-btn">Прочее</button>
        <div class="nav-dropdown-content">
            <a href="{% url 'random' %}">Рандом</a>
        </div>
    </div>
</nav>
{% endblock header_nav %}

{% block content %}
<h1>Добро пожаловать на сайт!</h1>
<p>
    Я - Головин Алексей aka GoodAssumption. На данный момент занимаюсь
    разработкой различных приложений на Python.
    Изначально это был учебный сайт для отработки навыков работы с Django, но сейчас он выполняет функцию моей личной страницы. Ознакомиться с полным кодом сайта можно на моём <a href="r/GitHub">GitHub</a>
</p>
<p>
    Он содержит набор различных утилит, созданых как в рамках заданий, так и по моей личной
    инициативе. Ниже вы можете ознакомиться с наполнением сайта.
</p>
<h2>Что есть на сайте</h2>
<p>Ниже приведён полный набор утилит, инструментов и страниц, которые есть на
    сайте. Или неполный???</p>
<ul>
    {% for item in pages %}
    <li>
        <a href="{{ item.url }}" target="_self">{{ item.name }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Контакты</h2>
<p>Чтобы связаться со по любым вопросам, напишите мне в <a
        href="r/tgdirect" target="_self">личку тг</a>
    или в
    <a href="r/tgchanel" target="_self">сообщения канала.</a>
</p>
{% endblock %}
