{% extends 'base.html' %}
{% load static %}

{% block header_nav %}
<nav>
    <div class="nav-single-buttons">
        <button data-url="{% url 'index' %}"
            class="simple-btn"
            onclick="window.location.href = this.dataset.url;">На
            главную</button>
        <button data-url="{% url 'str2words/history' %}"
            class="simple-btn secondary"
            onclick="window.location.href = this.dataset.url;">К
            истории</button>
    </div>
</nav>
{% endblock header_nav %}

{% block content %}
<h1>Расшифровка</h1>

{% if answer %}
<div class="copy-grid-container">
    <h2 class="copy-grid-header">Изначальный текст</h2>
    <div class="copy-grid-item">
        <p>{{ answer|first }}</p>
    </div>
</div>

<div class="data-grid-container">
    <h2 class="data-grid-title">Готовые данные</h2>
    <div class="data-grid">
        <div class="data-block">
            <h3>Слова</h3>
            {% if words %}
            <ul>
                {% for word in words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p><i>Слова отсутствуют</i></p>
            {% endif %}
        </div>

        <div class="data-block">
            <h3>Исправленные слова</h3>
            {% if errors %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p><i>Ошибок не найдено</i></p>
            {% endif %}
        </div>

        <div class="data-block">
            <h3>Цифры</h3>
            {% if digits|length != 0 %}
            <ul>
                {% for digit in digits %}
                <li>{{ digit }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p><i>Цифры отсутствуют</i></p>
            {% endif %}
        </div>

        <div class="data-block">
            <h3>Другое</h3>
            {% if others %}
            <ul>
                {% for other in others %}
                <li>{{ other }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p><i>Других данных не найдено</i></p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}