{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'JavaScript/volume_manager.js' %}" defer></script>
{% endblock head%}

{% block header_nav %}
<nav class="main-nav">
    <div class="nav-single-buttons">
        <button data-url="{% url 'riddle' %}"
            onclick="window.location.href = this.dataset.url;"
            class="nav-single-btn primary">К загадке</button>
    </div>
</nav>
{% endblock header_nav %}

{% block content %}
<h2>Ну что, отгадал?</h2>

<!-- Контейнер с ответом -->
<div class="copy-grid-item" id="answerText">
    <div class="copy-item-title">Ответ</div>
    <div class="copy-item-content">Рояль</div>
    <div class="copy-item-description">Нажми на текст, чтобы узреть что
        могу</div>
    <div class="copy-item-indicator">Кликните для пояснения</div>
</div>

<div id="videoWrapper">
    <div class="video-container">
        <video id="customVideo" class="video-player" preload="metadata"
            playsinline>
            <source src="https://noikcloud.xyz/fxnY5hp" type="video/mp4">
            Ваш браузер не поддерживает видео. В таком случае ээээ ну просто поверьте
        </video>
    </div>
</div>
{% endblock %}