{% extends 'base.html' %}
{% load static %}

{% block header_nav %}
        <nav>
            <button onclick="location.href='{% url 'index' %}'">На главную</button>
            <button onclick="location.href='{% url 'prompts' %}'">К промптам</button>
        </nav>
{% endblock header_nav %}

{% block content %}
<h1>Нейросеть</h1>
<p>Здесь вы можете задать нейросети любой вопрос и получить на него ответ. Текущая модель: {{ model }}</p>

<form>
    <h4>Ответ от нейросети:</h4>
    <p>{{ ans }}</p>
</form>
<form title="neyro-message" method="post">
    {% csrf_token %}
    <input name="message" type="text" placeholder="Введите запрос" value="{{ question }}">
<button type="submit">Отправить</button>
</form>
{% endblock %}