{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Архив просмотренного</h1>
<p>Здесь находится информация о всех фильмах, сериалах, аниме и мультиках,
    которые я посмотрел</p>

<div class="table-container">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Рецензия</th>
                <th>Жанр</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            {% if item.review %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ item.name }}">Прочитать рецензию</a>
                </td>
                <td>
                    {{ item.genre }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for item in data %}
            {% if not item.review %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    Рецензия отсутствует
                </td>
                <td>
                    {{ item.genre }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
